body, html {
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    overflow-x: hidden;
}
/* Fondo personalizado para la tarjeta */
.card {
    border: none;
    border-radius: 10%;
    background-color: crimson;
}

/* Imagen circular con tamaño fijo */
.card-img-top {
    border-radius: 10%;
    display: block;
    height: 24em;
    width: 100%;
    object-fit: cover;
}

/* Botones personalizados */
.btn, .btn-primary {
    background-color: rgb(255, 105, 135);
    border: 2px solid palevioletred;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 2%;
}

 .btn:hover, .btn:focus, btn:after {
        background-color: darkred;
        border: 2px solid rgb(248, 128, 168);
        border-radius: 5px;
        cursor: pointer;
 }

a {
    color: aliceblue;
}




form {
    background-color: crimson;
    padding: 2%;
    border-radius: 8px;
    color: aliceblue
}

.form-control {
    background-color: indianred;
    border: 2px solid firebrick;
    border-radius: 5px;
    font-size: 16px;
}

 .form-control:hover {
        background-color: darkred;
        cursor: pointer;
 }

 .form-control:focus {
        background-color: firebrick;
        outline: none;
        border: 2px solid darkred;
 }


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff2cc; /* Fondo amarillo claro */
}

thead tr {
    border: 1px solid #ffd966; /* Bordes amarillos más oscuros */
    padding: 8px;
    text-align: left;
    background-color: #ffcc00; /* Fondo del encabezado amarillo oscuro */
    color: white;
}

tbody tr {
    background-color: #ffe599; /* Fondo amarillo intermedio */
}

    tbody tr:hover {
        background-color: #ffd966; /* Fondo amarillo más oscuro al pasar el mouse */
    }

