@model IEnumerable<Unidad3P1.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Categoria de productos";
}

<h1>Categoria de productos</h1>

 <ul class="nav flex-column p-3">
                    

        @foreach (var item in Model)
        {
               <li class="nav-item">
                <a asp-controller="Categorias" class="text-white" asp-action="ProductosCategoria" asp-route-id="@item.CategoriaId">@item.CategoriaNombre</a>
               </li>
        }     
</ul>
         
