a {
    color: aliceblue;
}

span {
    color: darkorange;
}

footer {
    background-color: orange;
    opacity: 0.9;
}

header {
    background-color: orange;
    opacity: 0.8;
}

.sidebar {
    background-color: darkorange;
    opacity: 0.8;
}

main {
    background-color: palegoldenrod;
    opacity: 0.9;
}

form {
    background-color: firebrick;
    padding: 2%;
    border-radius: 8px;
    color: aliceblue;
}

.form-control {
    background-color: #FFD700; /* Dorado */
    border: 2px solid firebrick;
    border-radius: 5px;
    font-size: 16px;
}

    .form-control:hover {
        background-color: #FFA500; /* Naranja */
        cursor: pointer;
    }

    .form-control:focus {
        background-color: #FFD700; /* Dorado */
        outline: none;
        border: 2px solid #FF8C00; /* Naranja oscuro */
    }

.btn, .btn-primary {
    background-color: #FFD700; /* Dorado */
    border: 2px solid #FFA500; /* Naranja */
    border-radius: 5px;
    font-size: 16px;
    margin-top: 2%;
}

    .btn:hover {
        background-color: #FF8C00; /* Naranja oscuro */
        cursor: pointer;
    }

table {
    width: 100%;
    border-collapse: collapse; /* Para evitar bordes dobles */
    background-color: #FFF5CC; /* Fondo amarillento claro para la tabla */
}

thead tr {
    border: 1px solid #FFD700; /* Borde dorado suave alrededor de las celdas */
    padding: 8px;
    text-align: left;
    background-color: #FFA500; /* Fondo naranja más oscuro para los encabezados */
    color: white; /* Color blanco para el texto en los encabezados */
}

tbody tr {
    background-color: #FFE680; /* Fondo amarillento claro para las filas pares */
}

    tbody tr:hover {
        background-color: #FFD700; /* Cambio de color a dorado al pasar el cursor por encima */
    }
