a {
    color: aliceblue;
}

span {
    color: darkorange;
}

footer {
    background-color: orange;
    opacity: 0.9;
}

header {
    background-color: orange;
    opacity: 0.8;
}

.sidebar {
    background-color: darkorange;
    opacity: 0.8;
}

main {
    background-color: palegoldenrod;
    opacity: 0.9;
}