
a {
    color: #ffd6d6; /* Color claro para enlaces en tono rosa pastel */
}

span {
    color: #e88a8a; /* Rosa oscuro */
}

footer {
    background-color: #e88a8a; /* Rosa oscuro */
    opacity: 0.8;
}

header {
    background-color: #e88a8a; /* Rosa oscuro */
    opacity: 0.9;
}

.sidebar {
    background-color: #ffbcbc; /* Rosa pastel suave */
    opacity: 0.7;
}

main {
    background-color: rgba(255, 229, 229, 0.8); /* Fondo en tono rosa claro pastel con transparencia */
}

