
a {
    color: aliceblue;
}

span {
    color: darkred;
}

footer {
    background-color: firebrick;
    opacity: 0.9;
}

header {
    background-color: maroon;
    opacity: 0.9;
}

.sidebar {
    background-color: crimson;
    opacity: 0.8;
}

main {
    background-color: rgba(219, 112, 147, 0.7); 

}

