
a {
    color: aliceblue;
}

span {
    color: darkred;
}

footer {
    background-color: firebrick;
    opacity: 0.9;
}

header {
    background-color: maroon;
    opacity: 0.9;
}

.sidebar {
    background-color: crimson;
    opacity: 0.8;
}

main {
    background-color: palevioletred;
    opacity: 0.7;
}

form {
    background-color: firebrick;
    padding: 2%;
    border-radius: 8px;
    color: aliceblue
}

.form-control {
    background-color: crimson;
    border: 2px solid firebrick;
    border-radius: 5px;
    font-size: 16px;
}

    .form-control:hover {
        background-color: darkred;
        cursor: pointer;
    }

    .form-control:focus {
        background-color: firebrick;
        outline: none;
        border: 2px solid darkred;
    }

.btn, btn-primary {
    background-color: crimson;
    border: 2px solid palevioletred;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 2%;
}

    .btn:hover {
        background-color: darkred;
        cursor: pointer;
    }


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffcccc;
}

thead tr {
    border: 1px solid #ff6666;
    padding: 8px;
    text-align: left;
    background-color: #cc3333; 
    color: white; 
}

    tbody tr {
        background-color: #ff9999; 
    }

    tbody tr:hover {
        background-color: #ff6666;
    }
